body {
  color: #8efab4;
  background-color: #251f32;
  font-family: Arial;
}

div.title {
  margin: 15px auto;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}

a, a:link, a:visited, a:hover, a:active {
  color: #8efab4;
}
